/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/.idea
.DS_Store
/node_modules
/bower_components
/.vagrant/machines
/web/css
/web/js
/web/fonts