{% extends "::base.html.twig" %}


{% block title %}Naujas receptas | Foodex{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        function loader(){

            sidebar_manipulation();
            $( window ).resize(function() {
                sidebar_manipulation();
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            hide_loading_screen();
        }

        function key_check(event){}

        function image_added(){
           var image = document.getElementById('new_recipe_image').files[0];
           if(typeof image === "undefined"){
               $("#image_name").html('');
           }else{
               $("#image_name").html(image.name);
           }
        }

        function new_recipe(){
            var title = $("#new_recipe_title").val();
            var about = $("#new_recipe_about").val();
            var image = document.getElementById('new_recipe_image').files[0];
            var time = $("#new_recipe_time").val();
            var country = $("#new_recipe_country").val();
            var type = $("#new_recipe_type").val();
            var main_cooking_method = $("#new_recipe_main_cooking_method").val();
            var celebration = $("#new_recipe_celebration").val();

            //get properties
            var properties = [];
            $('.properties_checkbox').each(function(){
                if($(this).hasClass('checked')){
                    var property = ($(this).attr('id')).replace('new_recipe_checkbox_property_','');
                    properties.push(property);
                }
            });

            //get ingredients
            var ingredients = [];
            for(i = 1; i <= ingredients_amount; i++){
                if($("#new_recipe_ingredient_" + i).length != 0){
                    var ingredient = $("#new_recipe_ingredient_" + i + " .new_recipe_select").val();
                    var quantity = $("#new_recipe_ingredient_" + i + " .new_recipe_quantity").val();
                    var unit = $("#new_recipe_ingredient_" + i + " .new_recipe_units").val();
                    if(ingredient != null && quantity != "" && unit != ""){
                        ingredients.push([ingredient, quantity, unit]);
                    }
                }
            }

            //get steps
            var steps = [];
            for(i = 1; i <= steps_amount; i++){
                if($("#new_recipe_step_" + i).length != 0){
                    var step_info = $("#new_recipe_step_" + i + " .new_recipe_textarea").val();
                    if(step_info != ""){
                        steps.push(step_info);
                    }
                }
            }

            //validation
            if(title == ""){
                toast('Trūksta pavadinimo','bad','logo');
                return false;
            }
            if(about == ""){
                toast('Trūksta aprašymo','bad','logo');
                return false;
            }
            if(typeof image === "undefined"){
                toast('Pridėkite nuotrauką','bad','logo');
                return false;
            }
            if(time == null){
                toast('Nurodykite laiką','bad','logo');
                return false;
            }
            if(country == null){
                toast('Nurodykite šalį','bad','logo');
                return false;
            }
            if(type == null){
                toast('Nurodykite tipą','bad','logo');
                return false;
            }

            //main cooking method, celebrations ir properties - nebutina

            if(ingredients.length == 0){
                toast('Pridėkite ingredientus','bad','logo');
                return false;
            }

            if(steps.length == 0){
                toast('Pridėkite žingsnius','bad','logo');
                return false;
            }

            //ajax to upload everything
            var formData = new FormData();
            formData.append('new_recipe_title', title);
            formData.append('new_recipe_about', about);
            formData.append('new_recipe_image', image);
            formData.append('new_recipe_time', time);
            formData.append('new_recipe_country', country);
            formData.append('new_recipe_type', type);
            formData.append('new_recipe_main_cooking_method', main_cooking_method);
            formData.append('new_recipe_celebration', celebration);

            formData.append('new_recipe_properties', JSON.stringify(properties));
            formData.append('new_recipe_ingredients', JSON.stringify(JSON.stringify(ingredients)));
            formData.append('new_recipe_steps', JSON.stringify(steps));


            $.ajax({
                type: 'POST',
                url: '/ajax/new_recipe',
                data: formData,
                dataType: 'json',
                beforeSend:function(){
                },
                processData: false,
                contentType: false,
                success:function(data){
                    if(data.status == "good"){
                        //refresh form
                        ingredients_amount = 0;
                        steps_amount = 0;
                        $("#new_recipe_title").val('');
                        $("#new_recipe_about").val('');
                        document.getElementById("new_recipe_time").selectedIndex = 0;
                        document.getElementById("new_recipe_country").selectedIndex = 0;
                        document.getElementById("new_recipe_type").selectedIndex = 0;
                        document.getElementById("new_recipe_main_cooking_method").selectedIndex = 0;
                        document.getElementById("new_recipe_celebration").selectedIndex = 0;
                        document.getElementById('new_recipe_image').value = null;
                        $("#image_name").html('');
                        $('.new_ingredient').remove();
                        $('.new_step').remove();
                        $('.properties_checkbox').removeClass('checked').removeClass('not_checked').addClass('not_checked');

                        setTimeout(function(){
                            scroll_content.refresh();
                        },0);

                        $("#profile_cover").html(data.recipe)
                        toast('Receptas nusiųstas patikrinti','good','logo');
                    }else{
                        toast('Įvyko klaida','bad','logo');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toast('Įvyko klaida. Perkraukite puslapį','bad','logo');
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }

        var ingredients_amount = 0;
        var steps_amount = 0;
        function new_recipe_add(type){
            switch(type){
                case "ingredient":
                   ingredients_amount++;
                   var data =

                   "<div class='new_ingredient' id='new_recipe_ingredient_" + ingredients_amount + "'>" +
                        "<div class='input_title'>Ingredientas " + ingredients_amount + "</div>" +
                        "<select class='new_recipe_select new_recipe_squeezed_even_more'>" +
                            "<option value='' disabled selected>Ingredientas</option>" +
                            "<option value='Aštru'>Bananas</option>" +
                        "</select>" +
                        "<input type='number' class='new_recipe_input new_recipe_quantity' min='0' step='1' placeholder='X'/>" +
                        "<select class='new_recipe_select new_recipe_units'>" +
                            "<option value='vnt' selected>vnt</option>" +
                            "<option value='g'>g</option>" +
                            "<option value='kg'>kg</option>" +
                            "<option value='ml'>ml</option>" +
                            "<option value='l'>l</option>" +
                        "</select>" +
                        "<div class='sub_delete' onclick='new_recipe_delete(\"new_recipe_ingredient_" + ingredients_amount + "\")'></div>" +
                    "</div>";
                    $("#new_recipe_ingredients").append(data);
                    break;
                case "step":
                    steps_amount++;
                    var data =
                    "<div class='new_step' id='new_recipe_step_" + steps_amount + "'>" +
                        "<div class='input_title'>Žingsnis " + steps_amount + "</div>" +
                        "<textarea type='text' class='new_recipe_textarea new_recipe_squeezed_little_more' placeholder='Žingsnis " + steps_amount + "'></textarea>" +
                        "<div class='sub_delete' onclick='new_recipe_delete(\"new_recipe_step_" + steps_amount + "\")'></div>" +
                    "</div>";
                     $("#new_recipe_steps").append(data);
                    break;
                case "image":
                        $("#new_recipe_image").trigger('click');
                    break;
            }

            setTimeout(function(){
                scroll_content.refresh();
            },0);
        }

        function new_recipe_delete(ID){
            $('#' + ID).fadeOut(transition_time, function(){
                $(this).remove();
                setTimeout(function(){
                    scroll_content.refresh();
                },0);
            });
        }

    function property_indicator(ID){
        if($("#" + ID).hasClass('not_checked')){
            $("#" + ID).removeClass('not_checked').addClass('checked');
        }else if($("#" + ID).hasClass('checked')){
            $("#" + ID).removeClass('checked').addClass('not_checked');
        }
    }
    </script>
{% endblock %}

{% block header_lock %}{% endblock %}
{% block filters_zone %}{% endblock %}
{% block config_zone %}{% endblock %}
{% block search_zone %}{% endblock %}
{% block divider %}{% endblock %}

{% block specific_styles %}
    <style type="text/css">
        #content_wrapper{
            padding-bottom:10px;
            background-image:url('/images/content_background.jpg');

        }

        #scroller_content_profile{
            width:100%;
            padding-bottom:10px;
        }

        #profile_cover{
            height:100px !important;
            background-image:url('/images/food (11).jpg')
        }

        #profile_name{
            line-height:100px;
            height:100px;
            margin-top:0px;
            margin-bottom:0px;
            padding-left:20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content_wrapper">
        <div class="scroller" id="scroller_content_profile">
            <div id="profile_cover">
                <div id="profile_name" >Naujas receptas</div>
            </div>
            <div id="content_new_recipe">
                <div class="sub_title">Pagrindiniai</div>
                <div class="sub_box" id="new_recipe_main">
                    <div class="input_title">Pavadinimas</div><input type="text" class="new_recipe_input" id="new_recipe_title" placeholder="Pavadinimas" />
                    <div class="input_title">Apie patiekalą</div><textarea type="text" class="new_recipe_textarea" id="new_recipe_about" placeholder="Apie patiekalą" /></textarea>
                    <div class="input_title">Nuotrauka</div><div class="sub_add" id="sub_add_image" onclick="new_recipe_add('image')">Pridėti nuotrauką</div>
                    <div id="image_name"></div>
                    <input type="file" style="display:none;" id="new_recipe_image" onchange="image_added()"/>
                </div>

                <div class="sub_title">Specifika</div>
                <div class="sub_box" id="new_recipe_specific">
                    <div class="input_title">Pagaminimo laikas</div>
                    <select class="new_recipe_select" id="new_recipe_time">
                        <option value="" disabled selected>Pagaminimo laikas</option>
                        <option value="5">5min</option>
                        <option value="10">10min</option>
                        <option value="15">15min</option>
                        <option value="20">20min</option>
                    </select>
                    <div class="input_title">Patiekalo kilmė</div>
                    <select class="new_recipe_select" id="new_recipe_country">
                        <option value="" disabled selected>Patiekalo kilmė</option>
                        <option value="Lietuva">Lietuva</option>
                    </select>
                    <div class="input_title">Patiekalo tipas</div>
                    <select class="new_recipe_select" id="new_recipe_type">
                        <option value="" disabled selected>Patiekalo tipas</option>
                        <option value="Antrieji patiekalai">Antrieji patiekalai</option>
                    </select>
                </div>

                <div class="sub_title">Ingredientai</div>
                <div class="sub_box">
                    <div id="new_recipe_ingredients"></div>
                    <div class="sub_add" id="sub_add_ingredient" onclick="new_recipe_add('ingredient')">Pridėti ingredientą</div>
                </div>

                <div class="sub_title">Gaminimo eiga</div>
                <div class="sub_box">
                    <div id="new_recipe_steps"></div>
                    <div class="sub_add" id="sub_add_step" onclick="new_recipe_add('step')">Pridėti žingsnį</div>
                </div>

                <div class="sub_title">Ypatybės</div>
                <div class="sub_box">
                    <div id="new_recipe_properties">
                        <div class="new_recipe_checkbox properties_checkbox not_checked" id="new_recipe_checkbox_property_1" onclick="property_indicator(this.id)"><div class="new_recipe_checkbox_box"></div><div class="new_recipe_checkbox_title">Ypatybė 1</div></div>
                        <div class="new_recipe_checkbox properties_checkbox not_checked" id="new_recipe_checkbox_property_2" onclick="property_indicator(this.id)"><div class="new_recipe_checkbox_box"></div><div class="new_recipe_checkbox_title">Ypatybė 1</div></div>
                        <div class="new_recipe_checkbox properties_checkbox not_checked" id="new_recipe_checkbox_property_3" onclick="property_indicator(this.id)"><div class="new_recipe_checkbox_box"></div><div class="new_recipe_checkbox_title">Ypatybė 1</div></div>
                    </div>
                </div>

                <div class="sub_title">Papildoma</div>
                <div class="sub_box" id="new_recipe_additional">
                    <div class="input_title">Gaminimo būdas</div>
                    <select class="new_recipe_select" id="new_recipe_main_cooking_method">
                        <option value="" disabled selected>Pagrindinis gaminimo būdas</option>
                        <option value="Mikrobangų krosnelė">Mikrobangų krosnelė</option>
                    </select>
                    <div class="input_title">Tinka šventei</div>
                    <select class="new_recipe_select" id="new_recipe_celebration">
                        <option value="" disabled selected>Šventė</option>
                        <option value="Kalėdos">Kalėdos</option>
                    </select>
                </div>

                <div id="save_new_recipe_button" onclick="new_recipe()">Sukurti</div>
            </div>
        </div>
    </div>
{% endblock %}

