{% extends "::base.html.twig" %}


{% block title %}Naujas receptas | Foodex{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        function loader(){
            sidebar_manipulation();
            $( window ).resize(function() {
                sidebar_manipulation();
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            hide_loading_screen();
        }

        function key_check(event){}

        function new_recipe(){
            var title = $("#new_recipe_title").val();
            var about = $("#new_recipe_about").val();
            //var image = $("#new_recipe_title").val();
            var time = $("#new_recipe_time").val();
            var country = $("#new_recipe_country").val();
            var type = $("#new_recipe_type").val();
            var main_cooking_method = $("#new_recipe_main_cooking_method").val();

            //get properties
            var properties = [];
            for(i = 1; i <= properties_amount; i++){
                if($("#new_recipe_property_" + i).length != 0){
                    var property = $("#new_recipe_property_" + i + " .new_recipe_select").val();
                    if(property != null){
                        properties.push(property);
                    }
                }
            }


            //get ingredients
            var ingredients = [];
            for(i = 1; i <= ingredients_amount; i++){
                if($("#new_recipe_ingredient_" + i).length != 0){
                    var ingredient = $("#new_recipe_ingredient_" + i + " .new_recipe_select").val();
                    var quantity = $("#new_recipe_ingredient_" + i + " .new_recipe_quantity").val();
                    var unit = $("#new_recipe_ingredient_" + i + " .new_recipe_units").val();
                    if(ingredient != null && quantity != "" && unit != ""){
                        ingredients.push([ingredient, quantity, unit]);
                    }
                }
            }

            //get steps
            var steps = [];
            for(i = 1; i <= steps_amount; i++){
                if($("#new_recipe_step_" + i).length != 0){
                    var step_info = $("#new_recipe_step_" + i + " .new_recipe_textarea").val();
                    if(step_info != ""){
                        steps.push(step_info);
                    }
                }
            }

            //get celebrations
            var celebrations = [];
            for(i = 1; i <= celebrations_amount; i++){
                if($("#new_recipe_celebration_" + i).length != 0){
                    var celebration = $("#new_recipe_celebration_" + i + " .new_recipe_select").val();
                    if(celebration != null){
                        celebrations.push(celebration);
                    }
                }
            }

            //validation
            if(title == ""){
                toast('Trūksta pavadinimo','bad','new_recipe');
                return false;
            }
            if(about == ""){
                toast('Trūksta aprašymo','bad','new_recipe');
                return false;
            }
            if(time == ""){
                toast('Nurodykite laiką','bad','new_recipe');
                return false;
            }
            if(country == null){
                toast('Nurodykite šalį','bad','new_recipe');
                return false;
            }
            if(type == null){
                toast('Nurodykite tipą','bad','new_recipe');
                return false;
            }

            //main cooking method, celebrations ir properties - nebutina
            if(main_cooking_method == null){
                //toast('Nurodykite pagrindinį gaminimo būdą','bad','new_recipe');
                //return false;
            }

            if(ingredients.length == 0){
                toast('Pridėkite ingredientus','bad','new_recipe');
                return false;
            }

            if(steps.length == 0){
                toast('Pridėkite žingsnius','bad','new_recipe');
                return false;
            }

            //ajax to upload everything

            //refresh form
            $("#new_recipe_title").val('');
            $("#new_recipe_about").val('');
            //var image = $("#new_recipe_title").val();
            $("#new_recipe_time").val('');
            document.getElementById("new_recipe_country").selectedIndex = 0;
            document.getElementById("new_recipe_type").selectedIndex = 0;
            document.getElementById("new_recipe_main_cooking_method").selectedIndex = 0;
            $('.new_property').remove();
            $('.new_ingredient').remove();
            $('.new_step').remove();
            $('.new_celebration').remove();

            setTimeout(function(){
                scroll_content.refresh();
            },0);

            toast('Receptas nusiųstas patikrinti','good','new_recipe');
        }

        var properties_amount = 0;
        var ingredients_amount = 0;
        var steps_amount = 0;
        var celebrations_amount = 0;
        function new_recipe_add(type){
            switch(type){
                case "property":
                    properties_amount++;
                    var data =
                    "<div class='new_property' id='new_recipe_property_" + properties_amount + "'>" +
                        "<select class='new_recipe_select new_recipe_squeezed'>" +
                            "<option value='' disabled selected>Ypatybė</option>" +
                            "<option value='Aštru'>Aštru</option>" +
                        "</select>" +
                        "<div class='sub_delete' onclick='new_recipe_delete(\"new_recipe_property_" + properties_amount + "\")'></div>" +
                    "</div>";
                    $("#new_recipe_properties").append(data);
                    break;
                case "ingredient":
                   ingredients_amount++;
                   var data =
                   "<div class='new_ingredient' id='new_recipe_ingredient_" + ingredients_amount + "'>" +
                        "<select class='new_recipe_select new_recipe_squeezed_even_more'>" +
                            "<option value='' disabled selected>Ingredientas</option>" +
                            "<option value='Aštru'>Bananas</option>" +
                        "</select>" +
                        "<input type='number' class='new_recipe_input new_recipe_quantity' min='0' step='1' placeholder='X'/>" +
                        "<select class='new_recipe_select new_recipe_units'>" +
                            "<option value='vnt' selected>vnt</option>" +
                            "<option value='g'>g</option>" +
                            "<option value='kg'>kg</option>" +
                            "<option value='ml'>ml</option>" +
                            "<option value='l'>l</option>" +
                        "</select>" +
                        "<div class='sub_delete' onclick='new_recipe_delete(\"new_recipe_ingredient_" + ingredients_amount + "\")'></div>" +
                    "</div>";
                    $("#new_recipe_ingredients").append(data);
                    break;
                case "step":
                    steps_amount++;
                    var data =
                    "<div class='new_step' id='new_recipe_step_" + steps_amount + "'>" +
                        "<textarea type='text' class='new_recipe_textarea new_recipe_squeezed_little_more' placeholder='Žingsnis " + steps_amount + "'></textarea>" +
                        "<div class='sub_delete' onclick='new_recipe_delete(\"new_recipe_step_" + steps_amount + "\")'></div>" +
                    "</div>";
                     $("#new_recipe_steps").append(data);
                    break;
                case "celebration":
                    celebrations_amount++;
                    var data =
                    "<div class='new_celebration' id='new_recipe_celebration_" + celebrations_amount + "'>" +
                        "<select class='new_recipe_select new_recipe_celebrations'>" +
                            "<option value='' disabled selected>Šventė</option>" +
                            "<option value='Kalėdos'>Kalėdos</option>" +
                        "</select>" +
                        "<div class='sub_delete' onclick='new_recipe_delete(\"new_recipe_celebration_" + celebrations_amount + "\")'></div>" +
                    "</div>";
                    $("#new_recipe_celebrations").append(data);
                    break;
            }

            setTimeout(function(){
                scroll_content.refresh();
            },0);
        }

        function new_recipe_delete(ID){
            $('#' + ID).fadeOut(transition_time, function(){
                $(this).remove();
                setTimeout(function(){
                    scroll_content.refresh();
                },0);
            });
        }
    </script>
{% endblock %}

{% block header_lock %}{% endblock %}
{% block filters_zone %}{% endblock %}
{% block config_zone %}{% endblock %}
{% block search_zone %}{% endblock %}
{% block divider %}{% endblock %}

{% block specific_styles %}
    <style type="text/css">
        #content_wrapper{
            padding-bottom:10px;
            background-image:url('/images/content_background.jpg');

        }

        #scroller_content_profile{
            width:100%;
            padding-bottom:10px;
        }

        #profile_cover{
            height:100px !important;
            background-image:url('/images/food (11).jpg')
        }

        #profile_name{
            line-height:100px;
            height:100px;
            margin-top:0px;
            margin-bottom:0px;
            padding-left:20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content_wrapper">
        <div class="scroller" id="scroller_content_profile">
            <div id="profile_cover">
                <div id="profile_name" >Naujas receptas</div>
            </div>
            <div id="content_new_recipe">
                <div class="sub_title">Pagrindiniai</div>
                <div class="sub_box" id="new_recipe_main">
                    <input type="text" class="new_recipe_input" id="new_recipe_title" placeholder="Pavadinimas" />
                    <textarea type="text" class="new_recipe_textarea" id="new_recipe_about" placeholder="Apie patiekalą" /></textarea>
                    <div class="sub_add" id="sub_add_image" onclick="new_recipe_add('image')">Pridėti nuotrauką</div>
                </div>

                <div class="sub_title">Specifika</div>
                <div class="sub_box" id="new_recipe_specific">
                    <input type="number" class="new_recipe_input" id="new_recipe_time" min="5" max="180" step="5" placeholder="Pagaminimo laikas" />
                    <select class="new_recipe_select" id="new_recipe_country">
                        <option value="" disabled selected>Patiekalo šalis</option>
                        <option value="Lietuva">Lietuva</option>
                    </select>
                    <select class="new_recipe_select" id="new_recipe_type">
                        <option value="" disabled selected>Patiekalo tipas</option>
                        <option value="Antrieji patiekalai">Antrieji patiekalai</option>
                    </select>
                </div>

                <div class="sub_title">Ypatybės</div>
                <div class="sub_box">
                    <div id="new_recipe_properties"></div>
                    <div class="sub_add" id="sub_add_property" onclick="new_recipe_add('property')">Pridėti ypatybę</div>
                </div>

                <div class="sub_title">Ingredientai</div>
                <div class="sub_box">
                    <div id="new_recipe_ingredients"></div>
                    <div class="sub_add" id="sub_add_ingredient" onclick="new_recipe_add('ingredient')">Pridėti ingredientą</div>
                </div>

                <div class="sub_title">Gaminimo eiga pažingsniui</div>
                <div class="sub_box">
                    <div id="new_recipe_steps"></div>
                    <div class="sub_add" id="sub_add_step" onclick="new_recipe_add('step')">Pridėti žingsnį</div>
                </div>

                <div class="sub_title">Papildoma</div>
                <div class="sub_box" id="new_recipe_additional">
                    <select class="new_recipe_select" id="new_recipe_main_cooking_method">
                        <option value="" disabled selected>Pagrindinis gaminimo būdas</option>
                        <option value="Mikrobangų krosnelė">Mikrobangų krosnelė</option>
                    </select>
                    <div id="new_recipe_celebrations">

                    </div>
                    <div class="sub_add" id="sub_add_celebration" onclick="new_recipe_add('celebration')">Pridėti šventę</div>
                </div>

                <div id="save_new_recipe_button" onclick="new_recipe()">Sukurti</div>
            </div>
        </div>
    </div>
{% endblock %}

