<div class='s_e search_item untouchable' onclick="cook('{{ id }}')">
    <div class='s_e search_item_image' style="background-image:url('{{ imageUrl }}')"></div>
    <div class='s_e search_item_title'>{{ title }}</div>
    <div class='s_e search_item_bottom_info'>{{ info }}</div>
</div>