{% extends "::base.html.twig" %}


{% block title %}{{ title }} | Foodex{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        //default functions
        function loader(){
            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
            });
            hide_loading_screen();
        }
        function key_check(event){}
        function admin_content(type){
            var admin_zone = "/admin_zone";
            show_loading_screen();
            location.href = admin_zone +"/" + type;
        }
        function admin_logout(){
            var formData = new FormData();
            formData.append('admin_logout', 'true');
            $.ajax({
                type: 'POST',
                url: '/ajax/admin_logout',
                data: formData,
                dataType: 'json',
                beforeSend: function () {
                },
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status == "good") {
                        location.href = "/admin_zone";
                    }
                }
            });
        }
        function new_data(){
            var formData = get_new_data();
            $.ajax({
                type: 'POST',
                url: new_ajax_url,
                data: formData,
                dataType: 'json',
                beforeSend:function(){
                },
                processData: false,
                contentType: false,
                success:function(data){
                    if(data.status == "good"){
                        reset_forms();
                        toast(new_toast, 'good', 'logo');
                        var new_data_inserted = data.new_data_inserted;
                        $("#data_container").prepend(new_data_inserted);
                        setTimeout(function(){scroll_content.refresh()},0);
                    }else{
                        toast('Įvyko klaida','bad','logo');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toast('Įvyko klaida. Perkraukite puslapį','bad','logo');
                    console.log(xhr.responseText)
                }
            });
        }
        function save_data(ID){
            var formData = get_save_data(ID);
            $.ajax({
                type: 'POST',
                url: save_ajax_url,
                data: formData,
                dataType: 'json',
                beforeSend:function(){
                },
                processData: false,
                contentType: false,
                success:function(data){
                    if(data.status == "good"){
                        toast(save_toast,'good','logo');
                    }else{
                        toast('Įvyko klaida','bad','logo');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toast('Įvyko klaida. Perkraukite puslapį','bad','logo');
                }
            });
        }
        function delete_data(ID){
            var formData = new FormData();
            formData.append('ID', ID);
            $.ajax({
                type: 'POST',
                url: delete_ajax_url,
                data: formData,
                dataType: 'json',
                beforeSend:function(){
                },
                processData: false,
                contentType: false,
                success:function(data){
                    if(data.status == "good"){
                        $("#data_" + ID).remove();
                        setTimeout(function(){scroll_content.refresh()},0);
                        toast(delete_toast, 'good', 'logo');
                    }else{
                        toast('Įvyko klaida','bad','logo');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toast('Įvyko klaida. Perkraukite puslapį','bad','logo');
                }
            });
        }
        function load_data(){
            var formData = new FormData();
            formData.append('data_type', new_type);
            $.ajax({
                type: 'POST',
                url: load_ajax_url,
                data: formData,
                dataType: 'json',
                beforeSend:function(){
                },
                processData: false,
                contentType: false,
                success:function(data){
                    if(data.status == "good"){
                        for(i = 0; i < data.loaded_data.length; i++){
                            $("#data_container").append(data.loaded_data[0]);
                        }
                    }else{
                        toast('Įvyko klaida','bad','logo');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toast('Įvyko klaida. Perkraukite puslapį','bad','logo');
                }
            });
        }


        //changeable functions
        var new_type = "location";
        var load_ajax_url = "/ajax/admin_load_" + new_type;
        var new_ajax_url = "/ajax/admin_new_" + new_type;
        var save_ajax_url = "/ajax/admin_save_" + new_type;
        var delete_ajax_url = "/ajax/admin_delete_" + new_type;
        var new_toast = "Vieta sukurta";
        var save_toast = "Vieta išsaugota";
        var delete_toast = "Vieta ištrinta";

        function get_new_data(){
            var title = $("#new_location_title").val();
            var type = $("#new_location_type").val();
            var lat = $("#new_location_lat").val();
            var long = $("#new_location_long").val();
            var about = $("#new_location_about").val();
            var icon = $("#new_location_icon").val();

            var formData = new FormData();
            formData.append('title', title);
            formData.append('type', type);
            formData.append('lat', lat);
            formData.append('long', long);
            formData.append('about', about);
            formData.append('icon', icon);

            return formData;
        }
        function get_save_data(ID){
            var title = $("#new_location_title").val();
            var type = $("#new_location_type").val();
            var lat = $("#new_location_lat").val();
            var long = $("#new_location_long").val();
            var about = $("#new_location_about").val();
            var icon = $("#new_location_icon").val();

            var formData = new FormData();
            formData.append('title', title);
            formData.append('type', type);
            formData.append('lat', lat);
            formData.append('long', long);
            formData.append('about', about);
            formData.append('icon', icon);


            var fact_text = $("#location_" + ID + " input").val();
            var formData = new FormData();
            formData.append('fact_ID', ID);
            formData.append('fact_text', fact_text);

            return formData;
        }
        function reset_forms(){
            $("#new_location_title").val('');
            document.getElementById("new_location_type").selecteedIndex = 0;
            $("#new_location_lat").val('');
            $("#new_location_long").val('');
            $("#new_location_about").val('');
            $("#new_location_icon").val('');
        }


    </script>

{% endblock %}

{% block specific_styles %}
    <style type="text/css">
        #content_wrapper{
            left:0px;
            padding-bottom:10px;
            background-image:url('/images/content_background.jpg');
        }

        #scroller_content_admin{
            padding-bottom:10px;
            right:30px;
            left:0px;
        }

        .line_box{
            float:left;
            text-align: center;
            height:40px;
            line-height:45px;
            text-align: center;
            padding-left:0px;
            padding-right:0px;
            width:150px;
        }

        .line_box:hover {
            background-color: rgba(238, 238, 238, 1);
            height: 40px;
            border-bottom: 6px solid #D5D5D5;
        }

        .active_line_box{
            background-color: rgba(238, 238, 238, 1);
            height: 40px;
            border-bottom: 6px solid #D5D5D5;
        }


        #profile_cover{
            height:100px;
        }

        #profile_image{
            height:50px;
            width:50px;
            margin-top:25px;
            margin-bottom:25px;
            background-image:url('/images/logo.png');
        }

        #profile_name{
            height: 100px;
            line-height: 100px;
        }

        #admin_content{
            width:622px;
            height:auto;
            padding:10px;
            float:left;
        }
    </style>

{% endblock %}

{% block header_lock %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block filters_zone %}{% endblock %}
{% block config_zone %}{% endblock %}

{% block content %}
<div id="content_wrapper">
    <div class="scroller" id="scroller_content_admin" >
        <div id="profile_cover">
            <div id="profile_image"></div>
            <div id="profile_name">{{ title }} | Foodex</div>
        </div>
        <div id="profile_line">
            <div class="line_box transition" onclick="admin_content('users')">Vartotojai</div>
            <div class="line_box transition" onclick="admin_content('recipes')">Receptai</div>
            <div class="line_box transition active_line_box" onclick="admin_content('locations')">Vietos</div>
            <div class="line_box transition" onclick="admin_content('facts')">Faktai</div>
            <div class="line_box transition" onclick="admin_content('filters')">Filtrai</div>
            <div class="line_box transition" onclick="admin_content('ingredients')">Ingredientai</div>
            <div class="line_box transition" onclick="admin_content('comments')">Komentarai</div>
            <div class="line_box transition" onclick="admin_content('options')">Nustatymai</div>
            <div class="line_box transition" style="float:right;" onclick="admin_logout()">Atsijungti</div>
        </div>

        <div id="admin_content">

            <div class="sub_title">Pridėti naują</div>
            <div class="input_title">Pavadinimas</div><input style="width:440px;" type="text" class="new_recipe_input" id="new_location_title" placeholder="Vietos pavadinimas" />
            <div class="input_title">Tipas</div>
            <select class='new_recipe_select' id="new_location_type">
                <option value="" disabled selected>Pasirinkite tipą</option>
                <option value="shop">Parduotuvė</option>
                <option value="fast_food">Greitas maistas</option>
                <option value="restaurant">Restoranas</option>
                <option value="other">Kita</option>
            </select>
            <div class="input_title">Latitude</div><input style="width:440px;" type="text" class="new_recipe_input" id="new_location_title" placeholder="Latitude" />
            <div class="input_title">Longitute</div><input style="width:440px;" type="text" class="new_recipe_input" id="new_location_title" placeholder="Longitude" />
            <div class="input_title">Apie</div><textarea type='text' class='new_recipe_textarea' placeholder='Apie' style="width:440px"></textarea>
            <div class="input_title">Ikona</div><input style="width:440px;" type="text" class="new_recipe_input" id="new_location_title" placeholder="Ikonos URL" />


            <div id="save_new_recipe_button" onclick="new_data()">Pridėti</div>
            <div class="sub_title">Duomenys</div>
            <div id="data_container"></div>
        </div>
    </div>
</div>
{% endblock %}

