{% extends "::base.html.twig" %}

{% block title %}Foodex{% endblock %}

 {% block divider %}
     <div id="divider" class="middle_divider" style="margin-left:10px;margin-top:0px;" onclick="full_sidebar()"></div>
 {% endblock %}
 {% block filters_zone %}
    <div id='filters_zone' style="top:285px;" onclick="full_sidebar()">
        <div class="scroller" id="scroller_filters"></div>
    </div>
 {% endblock %}

{% block config_zone %}
    <div id='config_zone'>
        <div class='filter_element untouchable' onclick="filter_start();show_config_zone(1);">
            <div class='filter_element_image' id='add'></div>
            <div class='filter_element_text'>Pridėti filtrą</div>
        </div>
    </div>
{% endblock %}

 {% block specific_scripts %}
     <script type="text/javascript">


         function loader(){
             recipe_size = calculate_recipe_size();
             append_recipes();
             filter_show_selected();
             sidebar_manipulation();
             $( window ).resize(function() {
                 recalculate_width();
                 sidebar_manipulation()
             });


             /*
              initialize_scrollbar();
             $("#content_wrapper").scroll(function(){
                 scrolled = $("#content_wrapper").scrollTop();
                 if(scrolled > 400)
                     toast_top('show');
                 else
                     toast_top('hide');

                 var scroll_height = $("#content_wrapper")[0].scrollHeight;
                 var item_height = $("#content_wrapper").css('height');
                 item_height = parseInt(item_height.replace('px'));
                 var height = scroll_height - item_height;
                 var height_constant = 100;
                 if(height - scrolled <= height_constant){
                     load_more();
                 }
             });
             */

             if(browser == 'firefox'){
                 $("#search_container").css('box-shadow','none');
             }

             scroll_content = new IScroll('#content_wrapper', {
                 scrollbars: true,
                 mouseWheel: true,
                 interactiveScrollbars: true,
                 shrinkScrollbars: 'scale',
                 fadeScrollbars: true,
                 probeType: 2
             });

             scroll_content.on('scrollStart', function(){ clickable = false; });
             scroll_content.on('scrollEnd', function(){ clickable = true; });

             scroll_content.on('scroll', function(){
                 if (this.y + 200 >= this.maxScrollY)
                     load_more();
             });

             scroll_filters = new IScroll('#filters_zone', {
                 scrollbars: true,
                 mouseWheel: true,
                 interactiveScrollbars: true,
                 shrinkScrollbars: 'scale',
                 fadeScrollbars: true
             });


             scroll_sidebar_right = new IScroll('#sidebar_right_wrapper', {
                 scrollbars: true,
                 mouseWheel: true,
                 interactiveScrollbars: true,
                 shrinkScrollbars: 'scale',
                 fadeScrollbars: true
             });

             $("#sidebar_right_wrapper").click(function(){ $("#search_input").blur();});
             $("#filters_zone").click(function(){ $("#search_input").blur();});
             $("#content_wrapper").click(function(){ $("#search_input").blur();});

             hide_loading_screen();
         }

         var load_more_end = false;
         var loading_more_status = false;
         function load_more(){
             if(!loading_more_status && !load_more_end){
                 loading_more_status = true;
                 recipe_size = calculate_recipe_size();
                 show_loading_more();
                 var recipes = [];
                 recipes[0] = ["0","/images/food (0).jpg", "title0"];
                 recipes[1] = ["1","/images/food (1).png", "title0"];
                 recipes[2] = ["2","/images/food (2).jpg", "title0"];
                 recipes[3] = ["3","/images/food (3).jpg", "title0"];
                 recipes[4] = ["4","/images/food (4).jpg", "title0"];
                 recipes[5] = ["5","/images/food (5).jpg", "title0"];
                 hide_loading_more();
                 for(i = 0; i < recipes.length; i++){
                     append_recipe(recipes[i]);
                 }

                 loading_more_status = false;
                 load_more_end = true;
                 setTimeout(function(){
                     scroll_content.refresh();
                 },0);
                 /*
                 $.ajax({
                     type: 'POST',
                     url: 'ajax.php',
                     data: { load_more: 'true'},
                     beforeSend:function(){
                         if(!load_more_end)
                             show_loading();
                     },
                     success:function(data){
                         loading_more_status = false;
                         var data = " ";
                         if(data != ""){
                             hide_loading();
                         }else if(data == ""){
                             hide_loading();
                             load_more_end = true;
                         }
                     }
                 });
                  */
             }
         }

         function key_check(event){

         }
     </script>
 {% endblock %}



{% block content %}
    <div id="content_wrapper" style="background-color:black;padding-bottom:10px;">
        <div class="scroller" id="scroller_content" style="padding-bottom:10px;"></div>
    </div>
{% endblock %}