{% extends "::base.html.twig" %}

{% block title %}Foodex{% endblock %}

 {% block divider %}
     <div id="divider" class="middle_divider" onclick="full_sidebar()"></div>
 {% endblock %}

 {% block filters_zone %}
    <div id='filters_zone' onclick="full_sidebar()">
        <div class="scroller" id="scroller_filters"></div>
    </div>
 {% endblock %}

{% block config_zone %}
    <div id='config_zone'></div>
{% endblock %}

 {% block specific_scripts %}
     <script type="text/javascript">
         function loader(){
             recipe_size = calculate_recipe_size();
             load_recipes('true');
             filters_show('selected','');
             sidebar_manipulation();
             $( window ).resize(function() {
                 recalculate_width();
                 sidebar_manipulation()
             });

             if(browser == 'firefox'){
                 $("#search_container").css('box-shadow','none');
             }

             scroll_content = new IScroll('#content_wrapper', {
                 scrollbars: true,
                 mouseWheel: true,
                 interactiveScrollbars: true,
                 shrinkScrollbars: 'scale',
                 fadeScrollbars: true,
                 probeType: 2
             });

             scroll_content.on('scrollStart', function(){ clickable = false; });
             scroll_content.on('scrollEnd', function(){ clickable = true; });

             scroll_content.on('scroll', function(){
                 if (this.y + 200 >= this.maxScrollY)
                     load_more();
             });

             scroll_filters = new IScroll('#filters_zone', {
                 scrollbars: true,
                 mouseWheel: true,
                 interactiveScrollbars: true,
                 shrinkScrollbars: 'scale',
                 fadeScrollbars: true
             });


             scroll_sidebar_right = new IScroll('#sidebar_right_wrapper', {
                 scrollbars: true,
                 mouseWheel: true,
                 interactiveScrollbars: true,
                 shrinkScrollbars: 'scale',
                 fadeScrollbars: true
             });

             $("#sidebar_right_wrapper").click(function(){ $("#search_input").blur();});
             $("#filters_zone").click(function(){ $("#search_input").blur();});
             $("#content_wrapper").click(function(){ $("#search_input").blur();});

             hide_loading_screen();
         }

         var load_more_end = false;
         var loading_more_status = false;
         function load_more(){
             if(!loading_more_status && !load_more_end){
                 loading_more_status = true;
                 recipe_size = calculate_recipe_size();

                 var formData = new FormData();
                 formData.append('load_more', 'true');
                 $.ajax({
                     type: 'POST',
                     url: '/ajax/load_more',
                     data: formData,
                     dataType: 'json',
                     beforeSend: function () {
                         show_loading_recipe();
                     },
                     processData: false,
                     contentType: false,
                     success: function (data) {
                         if (data.status == "good") {
                             loading_more_status = false;
                             if(data.end){
                                 load_more_end = true;
                             }
                             hide_loading_recipe();
                             load_recipes('false');
                             setTimeout(function(){
                                 scroll_content.refresh();
                             },0);
                         }
                     }
                 });
             }
         }

         function key_check(event){}
     </script>
 {% endblock %}

{% block specific_styles %}
    <style type="text/css">
        #content_wrapper{
            background-color:black;
            padding-bottom:10px;
        }

        #scroller_content{
            padding-bottom:10px;
        }

        .middle_divider{
            margin-left:10px;
            margin-top:0px;
        }

        #filters_zone{
            top:285px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content_wrapper">
        <div class="scroller" id="scroller_content"></div>
    </div>
{% endblock %}