{% extends "::base.html.twig" %}

{% block title %}Bigger Better Dinner{% endblock %}

{% block nav_zone %}
    <div class="nav_zone_element untouchable nav_element_active" id="home" onclick="content_navigation('home')"></div>
    <div class="nav_zone_element untouchable" id="profile" onclick="content_navigation('profile')"></div>
    <div class="nav_zone_element  untouchable" id="shoppinglist" onclick="content_navigation('shoppinglist')"></div>
    <div class="nav_zone_element untouchable" id="random" onclick="content_navigation('random')"></div>
{% endblock %}

{% block content %}
    <div class="recipe_box" id="recipe_box_1">
        <div class="recipe_image" style="background-image:url('http://1.bp.blogspot.com/_FfkgwPNm3uA/Swk2TGwRoyI/AAAAAAAAEoQ/huQ9v3t7i6c/s400/Boob_Kitten.jpg')"></div>
        <div class="recipe_info">
            <div class="recipe_title_box">
                <div class="recipe_title">Šiškebabas</div>
                <div class="recipe_kitchen">(Turkija)</div>
            </div>
            <div class="recipe_categories">Greita Pigu</div>
            <div class="recipe_ingredients_box">
                <div class="recipe_ingredient">Bananai</div>
                <div class="recipe_ingredient">Petražolės</div>
                <div class="recipe_ingredient">Grikiai</div>
                <div class="recipe_ingredient">Grikiai</div>
                <div class="recipe_ingredient">Grikiai</div>
                <div class="recipe_ingredient">Grikiai</div>
            </div>
            <div class="recipe_buttons_box">
                <div class="recipe_button untouchable">Noriu</div>
                <div class="recipe_button untouchable">Įsiminti</div>
            </div>
            <div class="recipe_rating_box">
                <div class="recipe_rating">5.6</div>
                <div class="recipe_rating_from">iš 96</div>
            </div>
        </div>

    </div>

{% endblock %}