{% extends "::base.html.twig" %}

{% block specific_scripts %}
    <script>
        function key_check(event){
            if(event.keyCode == 13 && $('#search_input').val() != "" && $("#search_input").is(":focus")){
                shoppinglist_add_enter();
            }
        }

        function loader(){
            sidebar_manipulation();
            $( window ).resize(function() {
                sidebar_manipulation();
            });

            if(browser == 'firefox'){
                $("#search_container").css('box-shadow','none');
            }

            scroll_filters = new IScroll('#filters_zone', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            $("#filters_zone").click(function(){ $("#search_input").blur();});
            $("#content_wrapper").click(function(){ $("#search_input").blur();});


            append_products();
            append_shoppinglist();

            hide_loading_screen();
        }
    </script>
{% endblock %}

{% block title %}Pirkiniai | Foodex{% endblock %}

{% block search_zone %}
    <div id="search_zone" onclick="full_sidebar()">
        <div id='search_index' onclick="focus_input('search_input')" ></div>
        <input id='search_input' placeholder='Pridėti prekių' onkeyup="search('shoppinglist')" onfocus="input_focus('shoppinglist')" onblur="input_blur()"/>
        <div id='search_container'>
            <div id='search_container_inside'></div>
        </div>
    </div>
{% endblock %}

 {% block divider %}
     <div id="divider" class="middle_divider" style="margin-left:10px;margin-top:0px;" onclick="full_sidebar()"></div>
 {% endblock %}

{% block filters_zone %}
<div id='filters_zone' style="top:285px;bottom:10px;" onclick="full_sidebar()">
    <div class="scroller" id="scroller_filters"></div>
</div>

{% endblock %}

{% block config_zone %}{% endblock %}

{% block content %}
<div id="content_wrapper" style="padding-bottom:10px;background-image:url('/images/content_background.jpg')">
    <div class="scroller" id="scroller_shoppinglist" style="padding-bottom:10px;"></div>
</div>
{% endblock %}

{% block sidebar_right %}{% endblock %}