{% extends "::base.html.twig" %}


{% block title %}Profilis | Foodex{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        function loader(){
            sidebar_manipulation();
            $( window ).resize(function() {
                recalculate_width();
                sidebar_manipulation();
            });
            profile_recipes('cooked');

            if(browser == 'firefox'){
                $("#search_container").css('box-shadow','none');
            }

            scroll_filters = new IScroll('#filters_zone', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_sidebar_right = new IScroll('#sidebar_right_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            hide_loading_screen();
        }

        function key_check(event){

        }
    </script>
{% endblock %}

{% block header_lock %}
    <div id="header_options" onclick="logout()"></div>
{% endblock %}

 {% block filters_zone %}
     <div id='filters_zone' style="top:230px;" onclick="full_sidebar()">
         <div class="scroller" id="scroller_filters" >
             <div class="filter_element untouchable" id="universities-2" onclick="filter_selected(this.id)">
                 <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                 <div class="filter_element_text">VU</div>
                 <div class="filter_element_delete" id="delete_universities-2" onclick="filter_delete(this.id)"></div>
             </div>
         </div>
     </div>
 {% endblock %}
 {% block config_zone %}
     <div id='config_zone'>
         <div class='filter_element untouchable' onclick="filter_start();show_config_zone(1);">
             <div class='filter_element_image' id='add'></div>
             <div class='filter_element_text'>Asmeninis filtras</div>
         </div>
     </div>
 {% endblock %}

{% block content %}
<div id="content_wrapper" style="padding-bottom:10px;background-image:url('/images/content_background.jpg')">
    <div class="scroller" id="scroller_content_profile" style="padding-bottom:10px;right:31px;">
        <div id="profile_cover">
            <div id="profile_image" style="background-image:url('/images/profile.png')"></div>
            <div id="profile_name">Ignas Lekas</div>
            <div id="profile_mobile_logout"></div>
        </div>
        <div id="profile_line">
            <div class="profile_line_box transition" id="profile_line_box_cooked" onclick="profile_recipes('cooked')">
                <div class="profile_line_box_top">17</div>
                <div class="profile_line_box_bottom">Gaminti</div>
            </div>
            <div class="profile_line_box transition" id="profile_line_box_liked" onclick="profile_recipes('liked')">
                <div class="profile_line_box_top">53</div>
                <div class="profile_line_box_bottom">Mėgstami</div>
            </div>
            <div class="profile_line_box transition" id="profile_line_box_created" onclick="profile_recipes('created')">
                <div class="profile_line_box_top">5</div>
                <div class="profile_line_box_bottom">Sukurti</div>
            </div>

            <div class="profile_line_box transition" id="profile_line_box_options" onclick="logout()">Atsijungti</div>
        </div>
        <div id="profile_recipes"></div>
    </div>
</div>
{% endblock %}

