{% extends "::base.html.twig" %}


{% block title %}Profilis | Foodex{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        function loader(){
            recipe_size = calculate_recipe_size();
            append_recipes_to_profile();
            sidebar_manipulation();
            $( window ).resize(function() {
                recalculate_width();
                sidebar_manipulation();
            });
            initialize_scrollbar();
            if(browser == 'firefox'){
                $("#search_container").css('box-shadow','none');
            }
            hide_loading_screen();
        }

        function key_check(event){

        }
    </script>
{% endblock %}

 {% block filters_zone %}
     <div id='filters_zone' class="contains_scrollbar" onclick="full_sidebar()">
         <div class="filter_element untouchable" id="universities-2" onclick="filter_selected(this.id)">
             <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
             <div class="filter_element_text">VU</div>
             <div class="filter_element_delete" id="delete_universities-2" onclick="filter_delete(this.id)"></div>
         </div>
     </div>
 {% endblock %}
 {% block config_zone %}
     <div id='config_zone'>
         <div class='filter_element untouchable' onclick="filter_start();show_config_zone(1);">
             <div class='filter_element_image' id='add'></div>
             <div class='filter_element_text'>Asmeninis filtras</div>
         </div>
     </div>
 {% endblock %}

{% block content %}
<div id="content_wrapper" class="contains_scrollbar" style="padding-bottom:10px;background-image:url('{{ asset('images/content_background.jpg') }}')">
    <div id="profile_info">
        <div class="recipe_box" id="profile_image" style="background-image: url('/images/food (5).jpg')"></div>
        <div id="profile_info_box">
            <div id="profile_name">Ignas Lekas</div>
            <div id="profile_email">ignas.lekas@gmail.com</div>
            <div id="profile_statististics_box">
                <div class="profile_statististics_box_item" id="psbi_cooked" onclick="profile_navigation('cooked')">14</div>
                <div class="profile_statististics_box_item" id="psbi_liked" onclick="profile_navigation('liked')">63</div>
                <div class="profile_statististics_box_item" id="psbi_created" onclick="profile_navigation('created')">3</div>
                <div class="profile_statististics_box_item" id="psbi_watched" onclick="profile_navigation('watched')">698</div>
            </div>
            <div style="clear:both;"></div>
            <div id="profile_buttons_box">
                <div class="profile_button" onclick="go_to_new_recipe()">Kurti</div>
                <!-- Not neede for facebook login
                <div class="profile_button" onclick="show_top_layer('options')">Nustatymai</div>
                -->
                <div class="profile_button" style="margin-bottom:0px;" onclick="logout()">Atsijungti</div>
            </div>
        </div>

    </div>
    <div id="profile_divider" class="untouchable">Istorija</div>
    <div id="profile_recipes"></div>
</div>
{% endblock %}

