{% extends "::base.html.twig" %}

{% block title %}Išsirink | Foodex{% endblock %}

{% block nav_zone %}
    <div class="nav_zone_element untouchable " id="home" onclick="content_navigation('home')"></div>
    <div class="nav_zone_element untouchable" id="profile" onclick="content_navigation('profile')"></div>
    <div class="nav_zone_element untouchable" id="shoppinglist" onclick="content_navigation('shoppinglist')"></div>
    <div class="nav_zone_element untouchable nav_element_active" id="random" onclick="content_navigation('random')"></div>
{% endblock %}
 {% block filters_zone %}
    <div id='filters_zone' class="contains_scrollbar">
         <div class="filter_element untouchable" id="universities-2" onclick="filter_selected(this.id)">
             <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
             <div class="filter_element_text">VU</div>
             <div class="filter_element_delete" id="delete_universities-2" onclick="filter_delete(this.id)"></div>
         </div>
         <div class="filter_element untouchable" id="universities-1" onclick="filter_selected(this.id)">
             <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
             <div class="filter_element_text">VU</div>
             <div class="filter_element_delete" id="delete_universities-1" onclick="filter_delete(this.id)"></div>
         </div>
    </div>
 {% endblock %}

{% block config_zone %}
    <div id="config_zone">
        <div class='filter_element untouchable' onclick="filter_start()">
            <div class='filter_element_image' id='add'></div>
            <div class='filter_element_text'>Pridėti filtrą</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content_wrapper" style="background-image:url('{{ asset('images/food (18).jpg') }}')">
        <div id="random_title">Kepsnys "Omleduste"</div>

        <div id="random_button_zone">
            <div class="random_button" id="random_button_next" onclick="random_next()"></div>
            <div class="random_button" id="random_button_shoppinglist" onclick="add_to_shopping_list('1')"></div>
            <div class="random_button" id="random_button_coop" onclick="coop('1')"></div>
            <div class="random_button" id="random_button_info" style="background-image:url('{{ asset('images/food (18).jpg') }}')" onclick="show_random_recipe_info('1')"></div>
            <div id="sidebar_right_random_cook_button" onclick="cook('1')">Gaminti</div>
        </div>
    </div>
{% endblock %}